/*Owl Carousel Css*/
.owl-item {
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.owl-next {
    float: left;
}
.owl-prev {
    /*float: right;*/
    margin-right: 15px;
}
#carousel {
    background-color: black;
    padding-top: 2em;
    color: white;
    cursor: pointer;
}
#carouselMenu {
    margin-bottom: 1rem;
    font-size: 11px;
    padding-right: 12px;
}
.owl-btn {
    margin-top: 9rem;
}
.owl-carousel .owl-item img {
    height: 300px;
    width: 100%;
}

.Ritem {
    float: right;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.Litem{
    float: left;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}
.overlay {
    padding-top: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: 100%;
    opacity:0;
    transition: .5s ease;
}


.owl-item:hover img {
    opacity: .6;
}
.owl-item :hover .overlay {
    opacity: 10;
}
.overlay div {
    margin-top: 10px;
}
.downloadAnim {
    color: orange;
    opacity: 10;
    z-index: 10;
}
.animIcons i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    border: 1px solid white;
    margin: 4px;
}
.animNameEn{
    font-size: 13px;
    font-weight: bold;
}
.year {
    color: orange;
}
.Ritem:hover, .Litem:hover {
    background-color: gray;
}
.bg {
    margin-top: 40px;
    height: 80%;
    width: 100%;
}


